@{
    ViewBag.Title = "Home Page";
}

<!-- BANNER -->
<div id="slides" class="section banner">
    <ul class="slides-container">
        <li>
            <img src="/Assets/client/images/slide-1.jpg" alt="">
            <div class="container">
                <div class="wrap-caption">
                    <h2 class="caption-heading">
                        Bảo vệ gia đình của bạn với các gói bảo hiểm tốt nhất
                    </h2>
                    <a href="#why" class="btn btn-primary" title="LEARN MORE">XEM THÊM</a>
                </div>
            </div>
        </li>
        <li>
            <img src="/Assets/client/images/slide-3.jpg" alt="">
            <div class="container">
                <div class="wrap-caption">
                    <h2 class="caption-heading">
                        Đảm bảo chất lượng cuộc sống của bạn
                    </h2>
                    <a href="#why" class="btn btn-primary" title="LEARN MORE">XEM THÊM</a>
                </div>
            </div>
        </li>
        <li>
            <img src="/Assets/client/images/slide-2.jpg" alt="">
            <div class="container">
                <div class="wrap-caption">
                    <h2 class="caption-heading">
                        Đảm bảo an toàn cho các chuyến du lịch của bạn
                    </h2>
                    <a href="#why" class="btn btn-primary" title="LEARN MORE">XEM THÊM</a>
                </div>
            </div>
        </li>

    </ul>

    <nav class="slides-navigation">
        <div class="container">
            <a href="#" class="next">
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="#" class="prev">
                <i class="fa fa-angle-left"></i>
            </a>
        </div>
    </nav>

</div>


<!-- WHY -->
<div id="why" class="section why section-border">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-6">
                <h2 class="section-heading">
                    Tại sao nên mua bảo hiểm?
                </h2>
                <div class="section-subheading">Bảo hiểm giúp chúng ta an tâm hơn trong cuộc sống. Khi chúng ta đối mặt với rủi ro không mong muốn, bảo hiểm là một lớp vải an toàn để che chở.</div>
                <ul class="checklist">
                    <li>100% Bảo mật: Bảo hiểm giúp chúng ta cảm thấy an tâm, không phải lo lắng về rủi ro tài chính không mong muốn.</li>
                    <li>Dễ thực hiện khi cần: Việc yêu cầu bồi thường từ bảo hiểm trở nên đơn giản và dễ dàng, giúp chúng ta nhanh chóng khắc phục hậu quả của các sự cố.</li>
                    <li>Nhiều lợi ích hơn: Bảo hiểm không chỉ bảo vệ chúng ta trong những trường hợp khẩn cấp, mà còn mang lại nhiều lợi ích khác trong cuộc sống hàng ngày.</li>
                </ul>
                <a href="#cat" class="btn btn-primary" title="FIND AN AGENTS">Các loại bảo hiểm</a>
                <div class="margin-bottom-30"></div>
            </div>
            <div class="col-sm-6 col-md-6">
                <img src="/Assets/client/images/why-img.jpg" alt="" class="img-responsive">
            </div>

        </div>
    </div>
</div>

@{Html.RenderAction("ProductCat", "Home"); }

<!-- How -->
<div class="section how section-border">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-6">
                <img src="/Assets/client/images/how-it-work-img.jpg" alt="" class="img-responsive">
            </div>
            <div class="col-sm-6 col-md-6">
                <h2 class="section-heading">
                    Bạn có thể mua như thế nào?
                </h2>
                <div class="section-subheading">Các bước để bạn có thể mua bảo hiểm tại trang web của chúng tôi!</div>
                <div class="margin-bottom-50"></div>
                <dl class="hiw">
                    <dt><span class="fa fa-hand-o-up"></span></dt>
                    <dd><h4>Chọn loại bảo hiểm bạn cần</h4>Chọn bảo hiểm bạn cần mua, bạn có thể xem thông tin về loại bảo hiểm đó</dd>
                    <dt><span class="fa fa-users"></span></dt>
                    <dd><h4>Chọn gói bảo hiểm phù hợp</h4>Mỗi loại bảo hiểm sẽ có các gói khác nhau theo thời gian của bảo hiểm, chọn lựa thời gian phù hợp với nhu cầu của bạn.</dd>
                    <dt><span class="fa fa-phone"></span></dt>
                    <dd><h4>Thực hiện thanh toán</h4>Sau khi lựa chọn gói bảo hiểm phù hợp, bạn vui lòng thanh toán để có những lợi ích của bảo hiểm nhé.</dd>

                </dl>

            </div>

        </div>
    </div>
</div>

<!-- TESTIMONY -->
<div class="section testimony section-border">
    <div class="container">

        <div class="row">

            <div class="col-sm-7 col-md-8">

                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="section-title center cwhite">
                            <h2 class="section-heading">Khách hàng nói gì về chúng tôi</h2>
                        </div>
                    </div>
                </div>

                <div id="owl-testimony">
                    <div class="item">
                        <div class="box-testimony">
                            <div class="quote-box">
                                <blockquote>
                                    Chúng tôi đã rất hài lòng với dịch vụ bảo hiểm của bạn. 
                                    Quá trình mua bảo hiểm diễn ra một cách thuận lợi và nhanh chóng. 
                                    Đội ngũ tư vấn của bạn đã cung cấp thông tin chi tiết và dễ hiểu, giúp chúng tôi chọn lựa chính sách phù hợp nhất với nhu cầu của gia đình. 
                                    Đặc biệt, khi chúng tôi gặp sự cố và cần hỗ trợ, dịch vụ khách hàng của bạn đã phản hồi một cách nhanh chóng và chuyên nghiệp. 
                                    Chúng tôi cảm thấy an tâm khi biết rằng mình được bảo vệ bởi một công ty bảo hiểm uy tín như bạn. Xin cảm ơn!
                                </blockquote>
                                <p class="quote-name">
                                    Johnathan Doel <span>CEO Buka Kreasi</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-testimony">
                            <div class="quote-box">
                                <blockquote>
                                    Chúng tôi đã rất hài lòng với dịch vụ bảo hiểm của bạn. 
                                    Quá trình mua bảo hiểm diễn ra một cách thuận lợi và nhanh chóng. 
                                    Đội ngũ tư vấn của bạn đã cung cấp thông tin chi tiết và dễ hiểu, giúp chúng tôi chọn lựa chính sách phù hợp nhất với nhu cầu của gia đình. 
                                    Đặc biệt, khi chúng tôi gặp sự cố và cần hỗ trợ, dịch vụ khách hàng của bạn đã phản hồi một cách nhanh chóng và chuyên nghiệp. 
                                    Chúng tôi cảm thấy an tâm khi biết rằng mình được bảo vệ bởi một công ty bảo hiểm uy tín như bạn. Xin cảm ơn!
                                </blockquote>
                                <p class="quote-name">
                                    Johnathan Doel <span>CEO Buka Kreasi</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-testimony">
                            <div class="quote-box">
                                <blockquote>
                                    Chúng tôi đã rất hài lòng với dịch vụ bảo hiểm của bạn. 
                                    Quá trình mua bảo hiểm diễn ra một cách thuận lợi và nhanh chóng. 
                                    Đội ngũ tư vấn của bạn đã cung cấp thông tin chi tiết và dễ hiểu, giúp chúng tôi chọn lựa chính sách phù hợp nhất với nhu cầu của gia đình. 
                                    Đặc biệt, khi chúng tôi gặp sự cố và cần hỗ trợ, dịch vụ khách hàng của bạn đã phản hồi một cách nhanh chóng và chuyên nghiệp. 
                                    Chúng tôi cảm thấy an tâm khi biết rằng mình được bảo vệ bởi một công ty bảo hiểm uy tín như bạn. Xin cảm ơn!
                                </blockquote>
                                <p class="quote-name">
                                    Johnathan Doel <span>CEO Buka Kreasi</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-testimony">
                            <div class="quote-box">
                                <blockquote>
                                    Chúng tôi đã rất hài lòng với dịch vụ bảo hiểm của bạn. 
                                    Quá trình mua bảo hiểm diễn ra một cách thuận lợi và nhanh chóng. 
                                    Đội ngũ tư vấn của bạn đã cung cấp thông tin chi tiết và dễ hiểu, giúp chúng tôi chọn lựa chính sách phù hợp nhất với nhu cầu của gia đình. 
                                    Đặc biệt, khi chúng tôi gặp sự cố và cần hỗ trợ, dịch vụ khách hàng của bạn đã phản hồi một cách nhanh chóng và chuyên nghiệp. 
                                    Chúng tôi cảm thấy an tâm khi biết rằng mình được bảo vệ bởi một công ty bảo hiểm uy tín như bạn. Xin cảm ơn!
                                </blockquote>
                                <p class="quote-name">
                                    Johnathan Doel <span>CEO Buka Kreasi</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="box-testimony">
                            <div class="quote-box">
                                <blockquote>
                                    Chúng tôi đã rất hài lòng với dịch vụ bảo hiểm của bạn. 
                                    Quá trình mua bảo hiểm diễn ra một cách thuận lợi và nhanh chóng. 
                                    Đội ngũ tư vấn của bạn đã cung cấp thông tin chi tiết và dễ hiểu, giúp chúng tôi chọn lựa chính sách phù hợp nhất với nhu cầu của gia đình. 
                                    Đặc biệt, khi chúng tôi gặp sự cố và cần hỗ trợ, dịch vụ khách hàng của bạn đã phản hồi một cách nhanh chóng và chuyên nghiệp. 
                                    Chúng tôi cảm thấy an tâm khi biết rằng mình được bảo vệ bởi một công ty bảo hiểm uy tín như bạn. Xin cảm ơn!
                                </blockquote>
                                <p class="quote-name">
                                    Johnathan Doel <span>CEO Buka Kreasi</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-sm-5 col-md-4">
                <div class="people">
                    <img class="user-pic" src="/Assets/client/images/say-img.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CLIENT -->
<div class="section stat-client">
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="section-heading center">
                    <h2 class="section-heading">Đối tác của chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="margin-bottom-50"></div>
        <div class="row">

            <div class="col-sm-3 col-md-3">
                <div class="client-img">
                    <a href="#"><img src="/Assets/client/images/partners-1.png" alt="" class="img-responsive"></a>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="client-img">
                    <a href="#"><img src="/Assets/client/images/partners-2.png" alt="" class="img-responsive"></a>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="client-img">
                    <a href="#"><img src="/Assets/client/images/partners-3.png" alt="" class="img-responsive"></a>
                </div>
            </div>

            <div class="col-sm-3 col-md-3">
                <div class="client-img">
                    <a href="#"><img src="/Assets/client/images/partners-4.png" alt="" class="img-responsive"></a>
                </div>
            </div>


        </div>
    </div>
</div>
