@model List<Insurance.Data.Models.ProductCategory>

<!-- SERVICES -->
<div class="section services section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading center">
                    Our Servcies
                </h2>
            </div>
        </div>
        <div class="row grid-services">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="box-image-1">
                        <div class="image">
                            <a href="services-detail.html" title="@item.Name"><img src="@item.Status" alt="" class="img-responsive"></a>
                        </div>
                        <div class="description">
                            <h3 class="blok-title">@item.Name</h3>
                            <a href="contact-quote.html" title="Chi tiết" class="btn btn-secondary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            }
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="services-detail.html" title="House Insurance"><img src="Assets/client/images/service-img-1.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">House <br />Insurance</h3>
                        <a href="contact-quote.html" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="services-detail.html" title="House Insurance"><img src="Assets/client/images/service-img-2.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Car <br />Insurance</h3>
                        <a href="contact-quote.html" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="services-detail.html" title="House Insurance"><img src="Assets/client/images/service-img-3.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Life <br />Insurance</h3>
                        <a href="contact-quote.html" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="services-detail.html" title="House Insurance"><img src="Assets/client/images/service-img-4.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Motorcylcle <br />Insurance</h3>
                        <a href="contact-quote.html" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="services-detail.html" title="House Insurance"><img src="Assets/client/images/service-img-5.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Boat <br />Insurance</h3>
                        <a href="contact-quote.html" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="box-image-1">
                    <div class="image">
                        <a href="services-detail.html" title="House Insurance"><img src="Assets/client/images/service-img-6.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <div class="description">
                        <h3 class="blok-title">Travel <br />Insurance</h3>
                        <a href="contact-quote.html" title="GET A QUOTE" class="btn btn-secondary">GET A QUOTE</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>