@model IEnumerable<Insurance.Data.Models.ProductCategory>

<!-- SERVICES -->
<div id="cat" class="section services section-border">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2 class="section-heading center">
                    Các loại bảo hiểm
                </h2>
            </div>
        </div>
        <div class="row grid-services">
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-md-4">
                    <div class="box-image-1">
                        <div class="image" style="max-height: min-content">
                            <a href="/bao-hiem/@item.Alias-@item.ID" title="@item.Name"><img src="@item.Image" alt="" class="img-responsive"></a>
                        </div>
                        <div class="description">
                            <h3 class="blok-title">@item.Name</h3>
                            <a href="/bao-hiem/@item.Alias-@item.ID" title="Chi tiết" class="btn btn-secondary">Chi tiết</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>