@model List<Insurance.Data.Models.OrderDetail>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
    Chi tiết đơn hàng, Mã: @Model.FirstOrDefault().OrderID
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Loại bảo hiểm</th>
            <th>Tên sản phẩm</th>
            <th>Giá tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(m => m.OrderID))
        {
            <tr>
                <td>@item.Product.ProductCategory.Name</td>
                <td>@item.Product.Name</td>
                <td>@(Common.StringHelper.FormatCurrency(item.Product.Price))</td>
            </tr>
        }
    </tbody>
</table>

<a href="#" onclick="history.back(); return false;" class="btn btn-primary">Quay lại</a>