
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <h2>Thanh toán thành công</h2>
        <p>Cảm ơn bạn đã bảo hiểm của chúng tôi. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.</p>
        <a href="/" class="btn btn-default">Quay về trang chủ</a>
    </div>
</div>

