@model List<Insurance.Data.Models.CartItem>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Mã SP</td>
                        <td>Loại bảo hiểm</td>
                        <td>Tên SP</td>
                        <td>Đơn giá</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-top">@item.Product.ID</td>
                            <td class="align-top">@item.Product.ProductCategory.Name</td>
                            <td class="align-top">@item.Product.Name</td>
                            <td class="align-top">@item.Product.Price.ToString("N0") vnđ</td>
                        </tr>
                    }

                </tbody>
            </table>

            <div>
                @using (Html.BeginForm("Checkout", "Cart", FormMethod.Post))
                {
                    <div class="form-group">
                        <label>Người nhận</label>
                        <input name="name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Số CCCD/CMND</label>
                        <input name="identity" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Điện thoại</label>
                        <input name="phone" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Địa chỉ</label>
                        <input name="address" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="email" class="form-control" />
                    </div>
                    <button type="button" class="btn btn-success" id="btn_paynow">Thanh toán ngay</button>

                    <div id="payment_link" class="col-md-8 order-md-1 ms-3" style="display: none">
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input class="form-check-input" id="bankcode_Default" type="radio" name="BankCode" value="bankcode_Default" checked="checked"><label for="bankcode_Default">Cổng thanh toán VNPAYQR</label><br>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="form-check-input" id="bankcode_Vnpayqr" type="radio" name="BankCode" value="VNPAYQR"><label for="bankcode_Vnpayqr">Thanh toán qua ứng dụng hỗ trợ VNPAYQR</label><br>

                            </div>
                            <div class="custom-control custom-radio">
                                <input class="form-check-input" id="bankcode_Vnbank" type="radio" name="BankCode" value="VNBANK"><label for="bankcode_Vnbank">ATM-Tài khoản ngân hàng nội địa</label><br>
                            </div>
                            <div class="custom-control custom-radio">
                                <input class="form-check-input" id="bankcode_Intcard" type="radio" name="BankCode" value="INTCARD"><label for="bankcode_Intcard">Thanh toán qua thẻ quốc tế</label><br>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success" id="btn_confirm">Xác nhận</button>
                    </div>
                }
            </div>

        }
        else
        {
            <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
        }
    </div>


    @if (Model.Count > 0)
    {

    }
</div>

