
@{
    ViewBag.Title = "Thanh toán thất bại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <h2>Thanh toán thất bại</h2>
        <p>Có lỗi xảy ra trong quá trình thanh toán. Vui lòng thử lại sau.</p>
        <a href="/" class="btn btn-default">Quay về trang chủ</a>
    </div>
</div>

