
@{
    ViewBag.Title = "Gửi yêu cầu thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <h2>Gửi yêu cầu thành công</h2>
        <p>Yêu cầu bồi thường của bạn đã được gửi thành công. Cảm ơn bạn!</p>

        <a href="/" class="btn btn-primary">Về trang chủ</a>
    </div>
</div>




